@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-hero {

  &__title {
    &.sloping-lines {
      &::after {
        position: absolute;
        top: 35px;
        right: 0;
        display: block;
        width: 210px;
        height: 65px;
        animation-duration: 15s;
      }
    }
  }

  &__descr {
    &.sloping-lines {
      padding-left: calc(50% + 35px);
      &::after {
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
      }
    }
  }
}