@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.case-popup {
  &__cnt {}

  &__hdr {
    &-inner {
      padding: 0 $--page-wrapper-padding-1280;
      height: $--header-height-1280;
    }
  }

  &__close {}

  &__heading {
    margin-top: $--header-height-1280;
    &-inner {}
  }

  &__title {
    margin: 0 0 60px;
    font-size: 120px;
  }

  &__body {
    &-inner {
      padding: 65px $--page-wrapper-padding-1280;
    }

    img {}

    h2 {
      margin: -15px 0 0;
      font-size: 54px;

      &:not(:last-child) {}
    }

    h3 {}

    h4 {}

    h2,
    h3,
    h4,
    p {

      +h2,
      +h3,
      +h4 {}
    }

    p {
      &:not(:last-child) {}
    }

    ol,
    ul {

      &:not(:last-child) {}

      &:not([class]) {
        li {
          &:not(:last-child) {}
        }
      }
    }

    ol {
      &:not([class]) {}
    }

    ul {
      &:not([class]) {}
    }

    .wp-block-columns {
      &:not(:last-child) {}

      .wp-block-column {
        &:first-child {
          &:not(:empty) {}
        }
      }
    }
  }
}