@import '../../assets/colors';
@import '../../assets/mixins';
@import '../../assets/variables';

.popup {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  // padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  background: transparentize($black, .3);
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  overflow: auto;
  z-index: 5;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &__cnt {
    // Popup inside
    padding: 0 $--page-wrapper-padding-320;
    background: $black;
    color: $white;
    position: relative;
    border: 1px solid $--decor-border-color;
    border-top: 0;
    border-bottom: 0;
  }

  // START close btn
  &__close {
    &:active {
      transform: scale(.95);
    }
  }

  // START close btn (pure css)
  // in interface.scss
  &__close {}

  // END close btn (pure css)
  // START close btn (svg)
  &__close {
    // width: 17.5px;
    // height: 17.5px;
    // padding: 2.5px;
    // transition: color .4s;

    // &__svg {
    //   pointer-events: none;
    //   width: 100%;
    //   height: 100%;
    // }

    // &__rect {
    //   width: 19px;
    //   height: 2px;
    //   fill: currentColor;
    // }
  }

  // END close btn (svg)
  // END close btn

  &__title {
    font: 22px/1.5 $--text-font;
  }

  &__descr {}

  &__status-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
}